.game-page {
  font-family: "Fira Sans", Helvetica, Arial, sans-serif;
  background-color: #1b1b1d;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.game-page.modal-active {
  filter: blur(5px);
  pointer-events: none;
}

.game-window {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-color: #009e52;
  background-image: url("/assets/pattern-bianco.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-clip: content-box;
  overflow: hidden;
}
.game-window .arrow {
  font-size: 5rem;
  margin: 0;
  padding: 0;
  font-weight: bold;
  color: #000080;
  text-shadow: 3px 3px 3px rgba(255, 255, 255, 0.4);
}
.game-window .game-text,
.game-window .scores-text {
  width: 90%;
  border-radius: 10px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4);
  border: 2px solid #1b1b1d;
  text-align: center;
  font-weight: bold;
  color: #1b1b1d;
}
.game-window .game-text {
  background-color: #40b67d;
  font-size: 1.5rem;
  padding: 2rem;
}
.game-window .scores-text {
  background-color: aliceblue;
  font-size: 1.1rem;
  margin-top: 6vh;
  padding: 1rem;
}
.game-window .countdown {
  display: flex;
  width: 90%;
  height: 7vh;
  background-color: #40b67d;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
  text-shadow: 3px 3px 3px rgba(0, 0, 128, 0.5);
  color: aliceblue;
  font-weight: 600;
  border-radius: 10px;
  box-shadow: 3px 3px 3px rgba(255, 255, 255, 0.4);
  margin-bottom: 6vh;
  padding: 1rem;
  text-align: center;
}
.game-window .matches-button {
  width: 25vw;
  padding: 0.75rem;
  background-color: #000080;
  color: aliceblue;
  border: none;
  border-radius: 8px;
  font-size: 1.3rem;
  cursor: pointer;
  box-shadow: 3px 3px 3px rgba(255, 255, 255, 0.4);
  background-color: #000080;
  transition: transform 0.3s;
}
.game-window .matches-button:hover {
  transform: scale(1.08);
}
.game-window .matches-button:active {
  background-color: #000064;
  transform: scale(0.9);
}
.game-window img {
  width: 100%;
  height: 100%;
}

.card-bg-trasparent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 8vw;
  text-align: center;
  padding: 1rem;
  color: aliceblue;
}
.card-bg-trasparent .card-body {
  font-size: 1.3rem;
  font-weight: 400;
  padding-top: 0.7rem;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
}

.left-navbar,
.right-navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 9vh;
  height: 100vh;
  width: 20vw;
}

.logout-link:hover span {
  font-weight: 700;
  color: #c13331;
}

.navbar-link {
  text-decoration: none;
  color: #1b1b1d;
  margin-top: 5px;
  cursor: pointer;
  transition: transform 0.5s;
}
.navbar-link:hover {
  transform: scale(1.1);
}

.logout-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.logout-modal {
  background-color: lightgrey;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  width: 400px;
  max-width: 90vw;
  text-align: center;
}
.logout-modal h2 {
  margin-bottom: 20px;
}
.logout-modal .logout-modal-buttons {
  display: flex;
  justify-content: space-around;
  gap: 20px;
}
.logout-modal .logout-modal-buttons button {
  width: 6vw;
  height: 7vh;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.logout-modal .logout-modal-buttons button.btn-confirm {
  background-color: #009e52;
  color: aliceblue;
}
.logout-modal .logout-modal-buttons button.btn-cancel {
  background-color: #c13331;
  color: aliceblue;
}
.logout-modal .logout-modal-buttons button:hover {
  opacity: 0.8;
}

.popup {
  height: 10vh;
  width: 35vw;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 1.2rem;
  bottom: 6.5vh;
  left: 50%;
  transform: translateX(-50%);
  background-color: #009e52;
  color: white;
  padding: 0.5rem 0.5rem;
  border-radius: 10px;
  z-index: 1000;
  border: 2px solid #1b1b1d;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.7);
  opacity: 1;
  transition: opacity 0.3s ease;
}
.popup .trophy-img-left {
  margin-right: 3rem;
}
.popup .trophy-img-right {
  margin-left: 3rem;
}
.popup img {
  height: 100%;
}
.popup p {
  margin: 0 1vw;
}

.popup.hidden {
  opacity: 0;
}

.profile-page {
  font-family: "Fira Sans", Helvetica, Arial, sans-serif;
  background-color: #009e52;
  background-image: url("/assets/pattern-bianco.png");
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  position: relative;
}

.page-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.profile-img,
.profile-details {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.profile-img h2,
.profile-details h2 {
  font-size: 2.8rem;
  color: aliceblue;
  text-shadow: 4px 4px 4px rgba(0, 0, 128, 0.5);
}

.profile-img {
  align-items: center;
  padding-left: 5vw;
  padding-bottom: 2vh;
}
.profile-img .card-bg-trasparent {
  width: 17vw;
}
.profile-img .card-bg-trasparent img {
  width: 100%;
}
.profile-img .card-bg-trasparent p {
  margin-bottom: 0;
  color: black;
  font-weight: 600;
  font-size: 1.8rem;
}

.profile-details {
  align-items: flex-start;
  text-align: left;
  padding: 2rem;
}
.profile-details input {
  font-size: 1.3rem;
  width: 30vw;
  height: 7vh;
  padding: 0 1vw;
  margin: 3vh 0;
}

.edit-btn,
.save-btn,
.delete-btn,
.cancel-btn,
.upload-btn {
  border: none;
  color: aliceblue;
  margin: 1vh 0;
  border-radius: 5px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  padding: 3px 8px;
}

.edit-btn,
.save-btn,
.upload-btn {
  background-color: #000080;
  transition: transform 0.3s;
}
.edit-btn:hover,
.save-btn:hover,
.upload-btn:hover {
  transform: scale(1.08);
}
.edit-btn:active,
.save-btn:active,
.upload-btn:active {
  background-color: #000064;
  transform: scale(0.9);
}

.delete-btn,
.cancel-btn {
  background-color: #c13331;
  transition: transform 0.3s;
}
.delete-btn:hover,
.cancel-btn:hover {
  transform: scale(1.08);
}
.delete-btn:active,
.cancel-btn:active {
  background-color: #990300;
  transform: scale(0.9);
}

.password-toggle-icon {
  margin-left: 1vw;
  cursor: pointer;
}
.password-toggle-icon img {
  height: 6vh;
  padding-bottom: 3px;
}

.edit-mode-container {
  display: flex;
  width: 100%;
  flex-direction: row;
  gap: 2vw;
}

.upload-img-btn {
  margin-bottom: 1vh;
  background-color: grey;
  border: 2px solid #1b1b1d;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.message-field {
  font-size: 1.2rem;
  font-weight: bold;
}

.rules-page {
  font-family: "Fira Sans", Helvetica, Arial, sans-serif;
  background-color: #009e52;
  background-image: url("/assets/pattern-bianco.png");
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
  padding: 2rem 5rem;
  font-size: 1rem;
  font-weight: 500;
}

.description-title {
  font-size: 3.5rem;
  margin: 0;
  padding: 0;
  color: #000080;
  font-weight: 600;
  text-align: center;
  margin-bottom: 1.5rem;
  text-shadow: 3px 3px 3px rgba(255, 255, 255, 0.5);
}

.description-column {
  margin-bottom: 2rem;
}
.description-column dt {
  font-size: 1.3rem;
  font-weight: 800;
}
.description-column dd,
.description-column li {
  margin: 1rem 0;
}
.description-column .example-img {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 3rem 0;
}
.description-column .example-img img {
  width: 50%;
  border: 2px solid #1b1b1d;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
}

.assistance-page {
  font-family: "Fira Sans", Helvetica, Arial, sans-serif;
  background-color: #009e52;
  background-image: url("/assets/pattern-bianco.png");
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  position: relative;
}

.contact-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 75%;
  min-height: 80vh;
  padding: 50px;
}
.contact-section .contact-title {
  font-size: 2rem;
  color: #1b1b1d;
  font-weight: 600;
  margin-bottom: 6vh;
}
.contact-section a {
  color: #000080;
}
.contact-section a:hover {
  color: #000064;
}
.contact-section textarea {
  font-size: 1.1rem;
  background-color: lightgrey;
  width: 80%;
  height: 46vh;
  color: #1b1b1d;
  padding: 13px 15px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
  border: 2px solid #1b1b1d;
  border-radius: 2px;
}
.contact-section input {
  width: 20vw;
  margin-top: 2vh;
  padding: 0.75rem;
  background-color: #000080;
  color: aliceblue;
  border: none;
  border-radius: 4px;
  font-size: 1.1rem;
  cursor: pointer;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s;
}
.contact-section input:hover {
  transform: scale(1.05);
}
.contact-section input:active {
  background-color: #000064;
  transform: scale(0.97);
}
.contact-section .link-p {
  color: #1b1b1d;
  margin-top: 6vh;
  font-size: 1.5rem;
  font-weight: 500;
}

.objective-page {
  font-family: "Fira Sans", Helvetica, Arial, sans-serif;
  background-color: #009e52;
  background-image: url("/assets/pattern-bianco.png");
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  position: relative;
  padding: 4rem;
  gap: 4vh;
}

.objective-title {
  font-size: 3.5rem;
  color: #000080;
  font-weight: bold;
  text-shadow: 3px 3px 3px rgba(255, 255, 255, 0.5);
}

.objective-description {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  background-color: #1b1b1d;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 10vh;
  color: aliceblue;
  padding: 0.5rem 1.2rem;
}
.objective-description .trophy-img {
  height: 100%;
  margin-right: 1rem;
}

.unlocked {
  background-color: #009e52;
  color: #1b1b1d;
  border: 2px solid #1b1b1d;
}

.community-page {
  font-family: "Fira Sans", Helvetica, Arial, sans-serif;
  background-color: #009e52;
  background-image: url("/assets/pattern-bianco.png");
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  position: relative;
  font-size: 1.4rem;
  color: aliceblue;
  text-shadow: 4px 4px 4px rgba(0, 0, 128, 0.5);
  font-weight: 500;
}

.community-title {
  font-size: 4.5rem;
  color: #000080;
  font-weight: bold;
  text-shadow: 3px 3px 3px rgba(255, 255, 255, 0.5);
  margin: 0;
}

.community-content {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 5rem;
  gap: 4vh;
  text-align: center;
  padding-bottom: 2vh;
}
.community-content .discord-button {
  border: none;
  font-weight: 700;
  font-size: 1.3rem;
  color: aliceblue;
  border-radius: 5px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  padding-top: 1vh;
  background-color: #5865f2;
  transition: transform 0.3s;
  height: 7vh;
  margin-bottom: 4.5vh;
}
.community-content .discord-button:hover {
  transform: scale(1.08);
}
.community-content .discord-button:active {
  background-color: #000064;
  transform: scale(0.9);
}
.community-content .discord-button img {
  height: 100%;
  padding-left: 0.4rem;
  padding-right: 0.7rem;
  padding-bottom: 0.5rem;
  padding-top: 0.3rem;
}
.community-content .subscribe-button {
  border: none;
  background-color: #000080;
  color: aliceblue;
  font-weight: 500;
  font-size: 1.3rem;
  border-radius: 5px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  padding: 0.3rem 0.7rem;
}
.community-content p {
  margin: 0;
}

.community-img {
  width: 50%;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  padding: 5rem;
}
.community-img .front-card-img {
  height: 100%;
  margin: 0;
  padding-left: 3rem;
}

.matches-page {
  font-family: "Fira Sans", Helvetica, Arial, sans-serif;
  background-color: #009e52;
  background-image: url("/assets/pattern-bianco.png");
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-size: 1.2rem;
  color: aliceblue;
  width: 100%;
  height: 100vh;
  text-align: center;
}
.matches-page h1 {
  padding-top: 3.5vh;
  text-shadow: 4px 4px 4px rgba(0, 0, 128, 0.5);
  font-size: 3rem;
}
.matches-page .tables-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
}
.matches-page .tables-container .opponent-input-left {
  border: 2px solid #1b1b1d;
  background-color: #3b3b3b;
  border-radius: 5px;
  width: 17vw;
  height: 6vh;
  padding-left: 0.8vw;
}
.matches-page .tables-container h3 {
  margin-bottom: 2vh;
  text-shadow: 4px 4px 4px rgba(0, 0, 128, 0.5);
}
.matches-page .score-container,
.matches-page .report-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80%;
  width: 50%;
  margin: 2rem;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  background-color: #3b3b3b;
}
.matches-page .score-container .search-bar,
.matches-page .report-container .search-bar {
  display: flex;
}
.matches-page .score-container .search-bar .opponent-input-right,
.matches-page .report-container .search-bar .opponent-input-right {
  margin-right: 2vw;
  background-color: lightgray;
  border: 2px solid aliceblue;
  color: #3b3b3b;
  border-radius: 5px;
  width: 17vw;
  height: 6vh;
  padding-left: 0.8vw;
}
.matches-page .score-container .search-bar img,
.matches-page .report-container .search-bar img {
  width: 2vw;
  margin-right: 0.5vw;
}
.matches-page .score-container .search-bar .delete-button,
.matches-page .report-container .search-bar .delete-button {
  background-color: #c13331;
  transition: transform 0.3s;
  width: 17vw;
  height: 6vh;
  font-size: 1.1rem;
}
.matches-page .score-container .search-bar .delete-button:hover,
.matches-page .report-container .search-bar .delete-button:hover {
  transform: scale(1.04);
}
.matches-page .score-container .search-bar .delete-button:active,
.matches-page .report-container .search-bar .delete-button:active {
  background-color: #990300;
  transform: scale(0.95);
}
.matches-page .input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40vw;
  height: 100%;
  max-height: 24vh;
  text-align: center;
  gap: 2vh;
  background-color: lightgray;
  color: #1b1b1d;
  border-radius: 10px;
  box-shadow: 3px 3px 3px rgba(255, 255, 255, 0.4);
  padding: 0.5rem 0;
  margin-bottom: 2vh;
}
.matches-page .input-container .players {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.5rem;
}
.matches-page .input-container .players p {
  margin: 0;
}
.matches-page .input-container .confirm-button {
  width: 80%;
  height: 6vh;
  background-color: #000080;
  transition: transform 0.3s;
}
.matches-page .input-container .confirm-button:hover {
  transform: scale(1.03);
}
.matches-page .input-container .confirm-button:active {
  background-color: #000064;
  transform: scale(0.95);
}
.matches-page .scores {
  width: 40vw;
  height: 100%;
  text-align: left;
  padding: 0.8rem 1.5rem;
  border-radius: 10px;
}
.matches-page .scores p {
  margin-bottom: 1vh;
}
.matches-page .match-history {
  font-size: 1.2rem;
  width: 40vw;
  height: 45vh;
  text-align: left;
  padding: 2vh 1vw;
  background-color: lightgray;
  color: #1b1b1d;
  border-radius: 10px;
  box-shadow: 3px 3px 3px rgba(255, 255, 255, 0.4);
  margin-top: 2vh;
  overflow-y: auto;
}
.matches-page .match-history::-webkit-scrollbar {
  width: 8px;
}
.matches-page .match-history::-webkit-scrollbar-track {
  background: none;
  border-radius: 4px;
  margin: 4px 0;
}
.matches-page .match-history::-webkit-scrollbar-thumb {
  background: #000080;
  border-radius: 4px;
}
.matches-page .match-history li {
  margin-bottom: 1vh;
}
.matches-page .result-container {
  background-color: lightgray;
  color: #1b1b1d;
  border-radius: 10px;
  box-shadow: 3px 3px 3px rgba(255, 255, 255, 0.4);
}
.matches-page .result-options {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.home-page {
  font-family: "Fira Sans", Helvetica, Arial, sans-serif;
  background-color: #009e52;
  background-image: url("/assets/pattern-bianco.png");
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 2rem;
}

.home-title {
  margin-bottom: 7vh;
  font-size: 3.5rem;
  color: aliceblue;
  font-weight: bold;
  text-shadow: 4px 4px 4px rgba(0, 0, 128, 0.5);
}

.home-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8vw;
}

.home-description {
  color: #1b1b1d;
  max-width: 47vw;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 3.3rem;
}
.home-description p {
  padding: 1rem;
  background-color: #40b67d;
  border-radius: 10px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4);
  border: 2px solid #1b1b1d;
}

.form-wrapper {
  width: 400px;
  background-color: lightgrey;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
}
.form-wrapper p {
  margin-top: 2vh;
  margin-bottom: 0;
  text-align: center;
}

.input-field {
  margin-bottom: 1rem;
}

.input-field label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.input-field input {
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
}

.submit-btn {
  width: 100%;
  margin-top: 2vh;
  padding: 0.75rem;
  background-color: #000080;
  color: aliceblue;
  border: none;
  border-radius: 4px;
  font-size: 1.1rem;
  cursor: pointer;
  transition: transform 0.3s;
}
.submit-btn:hover {
  transform: scale(1.04);
}
.submit-btn:active {
  background-color: #000064;
  transform: scale(0.97);
}

.toggle-form {
  color: #000080;
  cursor: pointer;
}
.toggle-form:hover {
  text-decoration: underline;
}

.error-message {
  color: #c13331;
  margin-bottom: 1rem;
}

footer {
  padding: 10px;
  text-align: center;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}
footer .footer-link {
  text-decoration: none;
  font-size: 1.5rem;
  color: #c13331;
  font-weight: 700;
  text-shadow: 2px 2px 2px rgba(255, 255, 255, 0.3);
}
footer .footer-link:hover {
  color: #990300;
}

.achievement-popup {
  position: fixed;
  bottom: 5vh;
  left: 50%;
  transform: translateX(-50%);
  background-color: #1b1b1d;
  color: aliceblue;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 18px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  z-index: 9999;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.achievement-popup.show {
  opacity: 1;
}

@media (min-width: 992px) and (max-width: 1250px) {
  .home-description {
    font-size: 1.4rem;
  }
  .popup {
    width: 40vw;
  }
  .popup .trophy-img-left {
    margin-right: 1.5rem;
  }
  .popup .trophy-img-right {
    margin-left: 1.5rem;
  }
  .matches-page {
    font-size: 1rem;
  }
  .matches-page .match-history {
    font-size: 1rem;
  }
  .matches-page .input-container .players {
    gap: 0.7rem;
  }
  .matches-page .report-container .search-bar .delete-button {
    font-size: 0.9rem;
  }
  .matches-page .scores {
    padding: 1.2rem 1.5rem 1rem 1.5rem;
  }
  .matches-page .scores p {
    margin-bottom: 1.5vh;
  }
  .game-window .arrow {
    font-size: 4rem;
  }
  .game-window .game-text {
    font-size: 1.2rem;
  }
  .game-window .scores-text {
    font-size: 1rem;
  }
  .game-window .countdown {
    font-size: 1.5rem;
  }
  .game-window .matches-button {
    font-size: 1rem;
  }
}
@media (min-width: 769px) and (max-width: 992px) {
  .home-container {
    flex-direction: column;
    gap: 5vh;
  }
  .home-title {
    font-size: 3rem;
    margin-bottom: 4vh;
    margin-top: 4vh;
  }
  .home-description {
    font-size: 1.5rem;
    max-width: 80vw;
  }
  .game-window .arrow {
    font-size: 3.5rem;
  }
  .game-window .game-text {
    font-size: 1rem;
  }
  .game-window .scores-text {
    font-size: 0.9rem;
  }
  .game-window .countdown {
    font-size: 1.3rem;
  }
  .game-window .matches-button {
    font-size: 0.9rem;
  }
  .card-bg-trasparent .card-body {
    font-size: 1rem;
  }
  .logout-modal h2 {
    font-size: 1.7rem;
  }
  .logout-modal .logout-modal-buttons button {
    width: 70px;
    height: 45px;
  }
  .profile-img .card-bg-trasparent p {
    font-size: 1.3rem;
  }
  .profile-details h2 {
    font-size: 2.1rem;
  }
  .profile-details input {
    font-size: 1rem;
    width: 280px;
    height: 40px;
    padding: 0 5px;
    margin: 2vh 0;
  }
  .popup {
    font-size: 1rem;
    width: 40vw;
  }
  .popup .trophy-img-left {
    margin-right: 1rem;
  }
  .popup .trophy-img-right {
    margin-left: 1rem;
  }
  .objective-description {
    font-size: 1.2rem;
  }
  .community-page {
    font-size: 1.1rem;
  }
  .community-page .community-title {
    font-size: 3.2rem;
  }
  .community-page .community-content {
    gap: 3vh;
  }
  .community-page .community-content .discord-button {
    font-size: 0.9rem;
  }
  .community-page .community-content .subscribe-button {
    font-size: 1rem;
  }
  .community-page .community-img {
    height: 75vh;
    padding: 3rem;
  }
  .community-page .community-img .front-card-img {
    padding-left: 2rem;
  }
  .description-title {
    font-size: 3rem;
  }
  .description-column .example-img {
    margin: 2rem 0;
  }
  .description-column .example-img img {
    width: 400px;
  }
  .contact-section {
    width: 90%;
    padding: 30px;
  }
  .contact-section .contact-title {
    font-size: 1.7rem;
    margin-bottom: 4vh;
  }
  .contact-section textarea {
    font-size: 1rem;
  }
  .contact-section input {
    width: 200px;
  }
  .contact-section .link-p {
    margin-top: 4vh;
    font-size: 1.3rem;
  }
  footer .footer-link {
    font-size: 1.3rem;
  }
  .matches-page {
    font-size: 1rem;
  }
  .matches-page h1 {
    font-size: 2.5rem;
  }
  .matches-page .tables-container h3 {
    font-size: 1.3rem;
    margin-top: 1vh;
  }
  .matches-page .match-history {
    font-size: 0.8rem;
  }
  .matches-page .input-container .players {
    gap: 0.5rem;
  }
  .matches-page .report-container {
    margin: 2rem 1rem;
  }
  .matches-page .report-container .search-bar img {
    width: 25px;
  }
  .matches-page .report-container .search-bar .delete-button {
    font-size: 0.8rem;
  }
  .matches-page .scores {
    padding: 1.2rem 1.5rem 1rem 1.5rem;
  }
  .matches-page .scores p {
    margin-bottom: 1.5vh;
  }
  .matches-page .result-container p {
    margin-bottom: 2vh;
  }
}
@media (min-width: 601px) and (max-width: 768px) {
  .home-container {
    flex-direction: column;
    gap: 4vh;
  }
  .home-title {
    font-size: 2.5rem;
    margin-bottom: 3vh;
    margin-top: 3vh;
  }
  .home-description {
    font-size: 1.2rem;
    max-width: 80vw;
  }
  .game-page {
    flex-direction: column;
    padding: 1rem;
  }
  .game-window .arrow {
    font-size: 3.5rem;
  }
  .game-window .game-text {
    font-size: 1rem;
  }
  .game-window .scores-text {
    font-size: 0.9rem;
  }
  .game-window .countdown {
    font-size: 1.3rem;
  }
  .game-window .matches-button {
    width: 200px;
    font-size: 0.9rem;
  }
  .popup {
    font-size: 0.8rem;
    width: 40vw;
    height: 9vh;
  }
  .popup .trophy-img-left {
    margin-right: 0.3rem;
  }
  .popup .trophy-img-right {
    margin-left: 0.3rem;
  }
  .left-navbar,
  .right-navbar {
    flex-direction: row;
    height: 100%;
    width: 100vw;
    gap: 0;
    justify-content: space-around;
    align-items: center;
  }
  .card-bg-trasparent {
    min-width: 70px;
  }
  .card-bg-trasparent .card-body {
    font-size: 1rem;
  }
  .logout-modal h2 {
    font-size: 1.5rem;
  }
  .logout-modal .logout-modal-buttons button {
    width: 70px;
    height: 45px;
  }
  .profile-img {
    padding-left: 0;
  }
  .profile-img .card-bg-trasparent img {
    width: 100px;
  }
  .profile-img .card-bg-trasparent p {
    font-size: 1.3rem;
  }
  .profile-details h2 {
    font-size: 2rem;
  }
  .profile-details input {
    font-size: 1rem;
    width: 280px;
    height: 40px;
    padding: 0 5px;
    margin: 2vh 0;
  }
  .objective-description {
    font-size: 1.1rem;
  }
  .community-page {
    font-size: 1.1rem;
    flex-direction: column;
  }
  .community-page .community-title {
    font-size: 3.2rem;
  }
  .community-page .community-content {
    width: 100%;
    padding-left: 0;
    gap: 3vh;
  }
  .community-page .community-content .discord-button {
    font-size: 0.9rem;
    margin-bottom: 2.5vh;
    height: 6vh;
  }
  .community-page .community-content .discord-button img {
    padding-left: 0.2rem;
    padding-right: 0.4rem;
    padding-bottom: 0.3rem;
    padding-top: 0.1rem;
  }
  .community-page .community-content .subscribe-button {
    font-size: 1rem;
  }
  .community-page .community-img {
    width: 100%;
    height: 65vh;
    padding: 3rem;
    justify-content: center;
  }
  .community-page .community-img .front-card-img {
    padding-left: 0;
  }
  .rules-page {
    padding: 2rem;
    font-size: 0.8rem;
  }
  .description-title {
    font-size: 2.7rem;
    margin-bottom: 0;
  }
  .description-column dt {
    font-size: 1.1rem;
  }
  .description-column .example-img {
    margin: 1.8rem 0;
  }
  .description-column .example-img img {
    width: 400px;
  }
  .contact-section {
    width: 100%;
    padding: 20px;
  }
  .contact-section .contact-title {
    font-size: 1.5rem;
    margin-bottom: 3vh;
  }
  .contact-section textarea {
    font-size: 0.9rem;
  }
  .contact-section input {
    width: 180px;
    height: 50px;
  }
  .contact-section .link-p {
    margin-top: 3vh;
    font-size: 1.1rem;
  }
  footer .footer-link {
    font-size: 1.1rem;
  }
  .matches-page {
    font-size: 0.9rem;
  }
  .matches-page h1 {
    font-size: 2.3rem;
  }
  .matches-page .tables-container h3 {
    font-size: 1.2rem;
    margin-top: 1vh;
  }
  .matches-page .match-history {
    font-size: 0.8rem;
  }
  .matches-page .input-container .players {
    gap: 0.5rem;
  }
  .matches-page .report-container {
    margin: 2rem 0.5rem;
  }
  .matches-page .report-container .search-bar img {
    width: 25px;
  }
  .matches-page .report-container .search-bar .delete-button {
    font-size: 0.7rem;
  }
  .matches-page .scores {
    padding: 1.2rem 1.5rem 1rem 1.5rem;
  }
  .matches-page .scores p {
    margin-bottom: 1.5vh;
  }
  .matches-page .score-container {
    margin: 2rem 0.5rem;
  }
}
@media (min-width: 413px) and (max-width: 600px) {
  .home-container {
    flex-direction: column;
    gap: 4vh;
  }
  .home-title {
    font-size: 2.5rem;
    margin-bottom: 3vh;
    margin-top: 3vh;
  }
  .home-description {
    font-size: 1.2rem;
    max-width: 80vw;
  }
  .game-page {
    flex-direction: column;
    padding: 1rem;
  }
  .game-window .arrow {
    font-size: 3rem;
  }
  .game-window .game-text {
    font-size: 0.9rem;
  }
  .game-window .scores-text {
    font-size: 0.7rem;
  }
  .game-window .countdown {
    font-size: 1rem;
  }
  .game-window .matches-button {
    width: 200px;
    font-size: 0.9rem;
  }
  .popup {
    font-size: 0.8rem;
    width: 55vw;
    height: 9vh;
  }
  .popup .trophy-img-left {
    margin-right: 0.3rem;
  }
  .popup .trophy-img-right {
    margin-left: 0.3rem;
  }
  .left-navbar,
  .right-navbar {
    flex-direction: row;
    height: 100%;
    width: 100vw;
    gap: 0;
    justify-content: space-around;
    align-items: center;
  }
  .card-bg-trasparent {
    min-width: 70px;
  }
  .card-bg-trasparent .card-body {
    font-size: 1rem;
  }
  .logout-modal {
    width: 300px;
  }
  .logout-modal h2 {
    font-size: 1.3rem;
  }
  .logout-modal .logout-modal-buttons button {
    width: 60px;
    height: 40px;
  }
  .page-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
  }
  .profile-img {
    padding-left: 0;
  }
  .profile-img .card-bg-trasparent img {
    width: 100px;
  }
  .profile-img .card-bg-trasparent p {
    font-size: 1.3rem;
  }
  .profile-details {
    align-items: center;
    justify-content: center;
    padding: 1rem;
    text-align: center;
    margin-top: 2rem;
  }
  .profile-details h2 {
    font-size: 2rem;
  }
  .profile-details input {
    font-size: 1rem;
    width: 280px;
    height: 40px;
    padding: 0 5px;
    margin: 2vh 0;
  }
  .objective-description {
    font-size: 0.9rem;
  }
  .community-page {
    font-size: 1rem;
    flex-direction: column;
  }
  .community-page .community-title {
    font-size: 3rem;
  }
  .community-page .community-content {
    width: 100%;
    padding-left: 0;
    gap: 1rem;
  }
  .community-page .community-content .discord-button {
    font-size: 0.9rem;
    margin-bottom: 2vh;
    height: 5vh;
  }
  .community-page .community-content .discord-button img {
    padding-left: 0.2rem;
    padding-right: 0.4rem;
    padding-bottom: 0.3rem;
    padding-top: 0.1rem;
  }
  .community-page .community-content .subscribe-button {
    font-size: 0.9rem;
  }
  .community-page .community-img {
    width: 75%;
    height: 50vh;
    padding: 3rem;
    justify-content: center;
  }
  .community-page .community-img .front-card-img {
    padding-left: 0;
  }
  .rules-page {
    padding: 2rem;
    font-size: 0.7rem;
  }
  .description-title {
    font-size: 2.5rem;
    margin-bottom: 0;
  }
  .description-column dt {
    font-size: 1rem;
  }
  .description-column .example-img {
    margin: 1.5rem 0;
  }
  .description-column .example-img img {
    width: 350px;
  }
  .contact-section {
    width: 100%;
    padding: 15px;
  }
  .contact-section .contact-title {
    font-size: 1.2rem;
    margin-bottom: 3vh;
  }
  .contact-section textarea {
    font-size: 0.9rem;
  }
  .contact-section input {
    width: 170px;
    height: 50px;
  }
  .contact-section .link-p {
    margin-top: 3vh;
    font-size: 1rem;
  }
  footer .footer-link {
    font-size: 1rem;
  }
  .matches-page {
    font-size: 0.9rem;
    height: 100%;
  }
  .matches-page h1 {
    font-size: 2.3rem;
  }
  .matches-page .tables-container {
    flex-direction: column;
    align-items: center;
  }
  .matches-page .tables-container .opponent-input-left {
    width: 28vw;
  }
  .matches-page .tables-container h3 {
    font-size: 1.2rem;
    margin-top: 1vh;
  }
  .matches-page .match-history {
    font-size: 0.8rem;
    width: 70vw;
  }
  .matches-page .input-container {
    width: 70vw;
  }
  .matches-page .input-container .players {
    gap: 1rem;
  }
  .matches-page .report-container {
    margin: 0.5rem;
    height: 50%;
    width: 80%;
  }
  .matches-page .report-container .search-bar img {
    width: 25px;
  }
  .matches-page .report-container .search-bar .opponent-input-right {
    width: 28vw;
  }
  .matches-page .report-container .search-bar .delete-button {
    width: 28vw;
    font-size: 0.7rem;
  }
  .matches-page .scores {
    padding: 1.2rem 1.5rem 0.5rem 1.5rem;
    width: 70vw;
  }
  .matches-page .scores p {
    margin-bottom: 1.5vh;
  }
  .matches-page .score-container {
    height: 50%;
    width: 80%;
    margin: 0.5rem;
  }
  .matches-page footer {
    position: relative;
    margin-top: auto;
  }
}
@media (max-width: 413px) {
  .home-container {
    flex-direction: column;
    gap: 3vh;
  }
  .home-title {
    font-size: 2.3rem;
    margin-bottom: 2.5vh;
    margin-top: 2.5vh;
  }
  .home-description {
    font-size: 1rem;
    max-width: 80vw;
  }
  .game-page {
    flex-direction: column;
    padding: 1rem;
  }
  .game-window .arrow {
    font-size: 3rem;
  }
  .game-window .game-text {
    font-size: 0.9rem;
  }
  .game-window .scores-text {
    font-size: 0.7rem;
  }
  .game-window .countdown {
    font-size: 0.9rem;
  }
  .game-window .matches-button {
    width: 200px;
    font-size: 0.9rem;
  }
  .popup {
    font-size: 0.8rem;
    width: 60vw;
    height: 7vh;
  }
  .popup .trophy-img-left {
    margin-right: 0.2rem;
  }
  .popup .trophy-img-right {
    margin-left: 0.2rem;
  }
  .left-navbar,
  .right-navbar {
    flex-direction: row;
    height: 100%;
    width: 100vw;
    gap: 0;
    justify-content: space-around;
    align-items: center;
  }
  .card-bg-trasparent {
    min-width: 70px;
  }
  .card-bg-trasparent .card-body {
    font-size: 1rem;
  }
  .logout-modal {
    width: 250px;
  }
  .logout-modal h2 {
    font-size: 1.1rem;
  }
  .logout-modal .logout-modal-buttons button {
    width: 55px;
    height: 35px;
  }
  .page-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
  }
  .profile-img {
    padding-left: 0;
  }
  .profile-img .card-bg-trasparent img {
    width: 100px;
  }
  .profile-img .card-bg-trasparent p {
    font-size: 1.3rem;
  }
  .profile-details {
    align-items: center;
    justify-content: center;
    padding: 1rem;
    text-align: center;
    margin-top: 2rem;
  }
  .profile-details h2 {
    font-size: 1.5rem;
  }
  .profile-details input {
    font-size: 1rem;
    width: 280px;
    height: 40px;
    padding: 0 5px;
    margin: 2vh 0;
  }
  .objective-description {
    font-size: 0.9rem;
  }
  .community-page {
    font-size: 0.9rem;
    flex-direction: column;
  }
  .community-page .community-title {
    font-size: 2.7rem;
  }
  .community-page .community-content {
    width: 100%;
    padding-left: 0;
  }
  .community-page .community-content .discord-button {
    font-size: 0.8rem;
    margin-bottom: 2vh;
    height: 5vh;
  }
  .community-page .community-content .discord-button img {
    padding-left: 0.2rem;
    padding-right: 0.4rem;
    padding-bottom: 0.3rem;
    padding-top: 0.1rem;
  }
  .community-page .community-content .subscribe-button {
    font-size: 0.8rem;
  }
  .community-page .community-img {
    width: 75%;
    height: 50vh;
    padding: 3.5rem;
    justify-content: center;
  }
  .community-page .community-img .front-card-img {
    padding-left: 0;
  }
  .rules-page {
    padding: 1.5rem;
    font-size: 0.7rem;
  }
  .description-title {
    font-size: 2rem;
    margin-bottom: 0;
  }
  .description-column dt {
    font-size: 1rem;
  }
  .description-column .example-img {
    margin: 1rem 0;
  }
  .description-column .example-img img {
    width: 300px;
  }
  .contact-section {
    width: 100%;
    padding: 15px;
  }
  .contact-section .contact-title {
    font-size: 1.2rem;
    margin-bottom: 3vh;
  }
  .contact-section textarea {
    font-size: 0.9rem;
  }
  .contact-section input {
    width: 170px;
    height: 50px;
  }
  .contact-section .link-p {
    margin-top: 3vh;
    font-size: 1rem;
  }
  footer .footer-link {
    font-size: 1rem;
  }
  .matches-page {
    font-size: 0.9rem;
    height: 100%;
  }
  .matches-page h1 {
    font-size: 2.3rem;
  }
  .matches-page .tables-container {
    flex-direction: column;
    align-items: center;
  }
  .matches-page .tables-container .opponent-input-left {
    width: 28vw;
  }
  .matches-page .tables-container h3 {
    font-size: 1.2rem;
    margin-top: 1vh;
  }
  .matches-page .match-history {
    font-size: 0.8rem;
    width: 70vw;
  }
  .matches-page .input-container {
    width: 70vw;
  }
  .matches-page .input-container .players {
    gap: 1rem;
  }
  .matches-page .report-container {
    margin: 0.5rem;
    height: 50%;
    width: 80%;
  }
  .matches-page .report-container .search-bar img {
    width: 25px;
  }
  .matches-page .report-container .search-bar .opponent-input-right {
    width: 28vw;
  }
  .matches-page .report-container .search-bar .delete-button {
    width: 28vw;
    font-size: 0.7rem;
  }
  .matches-page .scores {
    padding: 1.2rem 1.5rem 0.5rem 1.5rem;
    width: 70vw;
  }
  .matches-page .scores p {
    margin-bottom: 1.5vh;
  }
  .matches-page .score-container {
    height: 50%;
    width: 80%;
    margin: 0.5rem;
  }
  .matches-page footer {
    position: relative;
    margin-top: auto;
  }
}