@import "./variables";

.game-page {
	font-family: "Fira Sans", Helvetica, Arial, sans-serif;
	background-color: $fifth;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	min-height: 100vh;

	&.modal-active {
		filter: blur(5px);
		pointer-events: none;
	}
}

.game-window {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;	

	img {
		width: 100%;
		height: 100%;		
	}
}

.card-bg-trasparent {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 10vw;
	text-align: center;
	padding: 1rem;
	color: $forth;

	.card-body {
		font-size: 1.3rem;
		font-weight: 400;
		padding-top: 0.7rem;
		padding-bottom: 0;
		padding-left: 0;
		padding-right: 0;
	}
}

.left-navbar,
.right-navbar {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 15vh;
	height: 100vh;
	width: 20vw;
}

.logout-link:hover {
	span {
		
		font-weight: 700;
		color: $third;
	}
}

.navbar-link {
	text-decoration: none;
	color: $fifth;
	margin-top: 5px;
	cursor: pointer;
	transition: transform 0.5s;

	&:hover {
		transform: scale(1.1);
	}
}

.logout-modal-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.2);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1000;
}

.logout-modal {
	background-color: lightgrey;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
	width: 400px;
	max-width: 90vw;
	text-align: center;

	h2 {
		margin-bottom: 20px;
	}

	.logout-modal-buttons {
		display: flex;
		justify-content: space-around;
		gap: 20px;

		button {
			width: 6vw;
			height: 7vh;
			border: none;
			border-radius: 5px;
			cursor: pointer;

			&.btn-confirm {
				background-color: $primary;
				color: $forth;
			}

			&.btn-cancel {
				background-color: $third;
				color: $forth;
			}

			&:hover {
				opacity: 0.8;
			}
		}
	}
}
