.game-page {
  font-family: "Fira Sans", Helvetica, Arial, sans-serif;
  background-color: #1b1b1d;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.game-page.modal-active {
  filter: blur(5px);
  pointer-events: none;
}

.game-window {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.game-window img {
  width: 100%;
  height: 100%;
}

.card-bg-trasparent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 8vw;
  text-align: center;
  padding: 1rem;
  color: aliceblue;
}
.card-bg-trasparent .card-body {
  font-size: 1.3rem;
  font-weight: 400;
  padding-top: 0.7rem;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
}

.left-navbar,
.right-navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 9vh;
  height: 100vh;
  width: 20vw;
}

.logout-link:hover span {
  font-weight: 700;
  color: #C13331;
}

.navbar-link {
  text-decoration: none;
  color: #1b1b1d;
  margin-top: 5px;
  cursor: pointer;
  transition: transform 0.5s;
}
.navbar-link:hover {
  transform: scale(1.1);
}

.logout-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.logout-modal {
  background-color: lightgrey;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  width: 400px;
  max-width: 90vw;
  text-align: center;
}
.logout-modal h2 {
  margin-bottom: 20px;
}
.logout-modal .logout-modal-buttons {
  display: flex;
  justify-content: space-around;
  gap: 20px;
}
.logout-modal .logout-modal-buttons button {
  width: 6vw;
  height: 7vh;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.logout-modal .logout-modal-buttons button.btn-confirm {
  background-color: #009E52;
  color: aliceblue;
}
.logout-modal .logout-modal-buttons button.btn-cancel {
  background-color: #C13331;
  color: aliceblue;
}
.logout-modal .logout-modal-buttons button:hover {
  opacity: 0.8;
}

.profile-page {
  font-family: "Fira Sans", Helvetica, Arial, sans-serif;
  background-color: #009E52;
  background-image: url("/assets/pattern-bianco.png");
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  position: relative;
}

.page-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.profile-img,
.profile-details {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.profile-img h2,
.profile-details h2 {
  font-size: 2.8rem;
  color: aliceblue;
  text-shadow: 4px 4px 4px rgba(0, 0, 128, 0.5);
}

.profile-img {
  align-items: center;
  padding-left: 5vw;
}
.profile-img .card-bg-trasparent {
  width: 17vw;
}
.profile-img .card-bg-trasparent img {
  width: 100%;
}
.profile-img .card-bg-trasparent p {
  margin-bottom: 0;
  color: black;
  font-weight: 600;
  font-size: 1.8rem;
}

.profile-details {
  align-items: flex-start;
  text-align: left;
  padding: 2rem;
}
.profile-details input {
  font-size: 1.3rem;
  width: 30vw;
  height: 7vh;
  padding: 0 1vw;
  margin: 3vh 0;
}

.edit-btn,
.save-btn,
.delete-btn,
.cancel-btn {
  border: none;
  color: aliceblue;
  margin: 1vh 0;
  border-radius: 5px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  padding: 3px 8px;
}

.edit-btn,
.save-btn {
  background-color: #000080;
  transition: transform 0.3s;
}
.edit-btn:hover,
.save-btn:hover {
  transform: scale(1.08);
}
.edit-btn:active,
.save-btn:active {
  background-color: #000064;
  transform: scale(0.9);
}

.delete-btn,
.cancel-btn {
  background-color: #C13331;
  transition: transform 0.3s;
}
.delete-btn:hover,
.cancel-btn:hover {
  transform: scale(1.08);
}
.delete-btn:active,
.cancel-btn:active {
  background-color: #990300;
  transform: scale(0.9);
}

.password-toggle-icon {
  margin-left: 1vw;
  cursor: pointer;
}
.password-toggle-icon img {
  height: 6vh;
  padding-bottom: 3px;
}

.edit-mode-container {
  display: flex;
  width: 100%;
  flex-direction: row;
  gap: 2vw;
}

.rules-page {
  font-family: "Fira Sans", Helvetica, Arial, sans-serif;
  background-color: #009E52;
  background-image: url("/assets/pattern-bianco.png");
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
  padding: 2rem 5rem;
  font-size: 1rem;
  font-weight: 500;
}

.description-title {
  font-size: 3.5rem;
  margin: 0;
  padding: 0;
  color: #000080;
  font-weight: 600;
  text-align: center;
  margin-bottom: 1.5rem;
  text-shadow: 3px 3px 3px rgba(255, 255, 255, 0.5);
}

.description-column {
  margin-bottom: 2rem;
}
.description-column dt {
  font-size: 1.3rem;
  font-weight: 800;
}
.description-column dd,
.description-column li {
  margin: 1rem 0;
}
.description-column .example-img {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 3rem 0;
}
.description-column .example-img img {
  width: 50%;
  border: 2px solid #1b1b1d;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
}

.assistance-page {
  font-family: "Fira Sans", Helvetica, Arial, sans-serif;
  background-color: #009E52;
  background-image: url("/assets/pattern-bianco.png");
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  position: relative;
}

.contact-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 75%;
  min-height: 80vh;
  padding: 50px;
}
.contact-section .contact-title {
  font-size: 2rem;
  color: #1b1b1d;
  font-weight: 600;
  margin-bottom: 6vh;
}
.contact-section a {
  color: #000080;
}
.contact-section a:hover {
  color: #000064;
}
.contact-section textarea {
  font-size: 1.1rem;
  background-color: lightgrey;
  width: 80%;
  height: 46vh;
  color: #1b1b1d;
  padding: 13px 15px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
  border: 2px solid #1b1b1d;
  border-radius: 2px;
}
.contact-section input {
  width: 20vw;
  margin-top: 2vh;
  padding: 0.75rem;
  background-color: #000080;
  color: aliceblue;
  border: none;
  border-radius: 4px;
  font-size: 1.1rem;
  cursor: pointer;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s;
}
.contact-section input:hover {
  transform: scale(1.05);
}
.contact-section input:active {
  background-color: #000064;
  transform: scale(0.97);
}
.contact-section .link-p {
  color: #1b1b1d;
  margin-top: 6vh;
  font-size: 1.5rem;
  font-weight: 500;
}

.objective-page {
  font-family: "Fira Sans", Helvetica, Arial, sans-serif;
  background-color: #009E52;
  background-image: url("/assets/pattern-bianco.png");
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  position: relative;
  padding: 4rem;
  gap: 4vh;
}

.objective-title {
  font-size: 3.5rem;
  color: #000080;
  font-weight: bold;
  text-shadow: 3px 3px 3px rgba(255, 255, 255, 0.5);
}

.objective-description {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  background-color: #1b1b1d;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 10vh;
  color: aliceblue;
  padding: 0.5rem 1.2rem;
}
.objective-description .trophy-img {
  height: 100%;
  margin-right: 1rem;
}

.community-page {
  font-family: "Fira Sans", Helvetica, Arial, sans-serif;
  background-color: #009E52;
  background-image: url("/assets/pattern-bianco.png");
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  position: relative;
  font-size: 1rem;
  font-weight: 500;
}

.community-title {
  font-size: 3.5rem;
  color: #000080;
  font-weight: bold;
  text-shadow: 3px 3px 3px rgba(255, 255, 255, 0.5);
  margin-bottom: 5vh;
}

.community-content {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 3rem;
  gap: 2vh;
  text-align: center;
}
.community-content .discord-button {
  background-color: #000080;
  transition: transform 0.3s;
  margin-bottom: 0.5rem;
}
.community-content .discord-button:hover {
  transform: scale(1.08);
}
.community-content .discord-button:active {
  background-color: #000064;
  transform: scale(0.9);
}
.community-content textarea {
  font-size: 1.1rem;
  background-color: lightgrey;
  width: 80%;
  height: 10vh;
  color: #1b1b1d;
  padding: 13px 15px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
  border: 2px solid #1b1b1d;
  border-radius: 2px;
}
.community-content p {
  margin: 0;
  padding: 0.7rem 0;
}

.community-img {
  width: 50%;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  padding: 5rem;
}
.community-img .front-card-img {
  height: 100%;
  margin: 0;
  padding-left: 3rem;
}

.home-page {
  font-family: "Fira Sans", Helvetica, Arial, sans-serif;
  background-color: #009E52;
  background-image: url("/assets/pattern-bianco.png");
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 2rem;
}

.home-title {
  margin-bottom: 7vh;
  font-size: 3.5rem;
  color: aliceblue;
  font-weight: bold;
  text-shadow: 4px 4px 4px rgba(0, 0, 128, 0.5);
}

.home-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8vw;
}

.home-description {
  color: #1b1b1d;
  max-width: 47vw;
  text-align: center;
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 3.3rem;
}

.form-wrapper {
  width: 400px;
  background-color: lightgrey;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.form-wrapper p {
  margin-top: 2vh;
  margin-bottom: 0;
  text-align: center;
}

.input-field {
  margin-bottom: 1rem;
}

.input-field label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.input-field input {
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
}

.submit-btn {
  width: 100%;
  margin-top: 2vh;
  padding: 0.75rem;
  background-color: #000080;
  color: aliceblue;
  border: none;
  border-radius: 4px;
  font-size: 1.1rem;
  cursor: pointer;
  transition: transform 0.3s;
}
.submit-btn:hover {
  transform: scale(1.04);
}
.submit-btn:active {
  background-color: #000064;
  transform: scale(0.97);
}

.toggle-form {
  color: #000080;
  cursor: pointer;
}
.toggle-form:hover {
  text-decoration: underline;
}

.error-message {
  color: #C13331;
  margin-bottom: 1rem;
}

footer {
  padding: 10px;
  text-align: center;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}
footer .footer-link {
  text-decoration: none;
  font-size: 1.5rem;
  color: #C13331;
  font-weight: 700;
  text-shadow: 2px 2px 2px rgba(255, 255, 255, 0.3);
}
footer .footer-link:hover {
  color: #990300;
}

@media (min-width: 769px) and (max-width: 992px) {
  .home-container {
    flex-direction: column;
    gap: 5vh;
  }
  .home-title {
    font-size: 3rem;
    margin-bottom: 4vh;
    margin-top: 4vh;
  }
  .home-description {
    font-size: 1.5rem;
    max-width: 80vw;
  }
  .card-bg-trasparent .card-body {
    font-size: 1rem;
  }
  .logout-modal h2 {
    font-size: 1.7rem;
  }
  .logout-modal .logout-modal-buttons button {
    width: 70px;
    height: 45px;
  }
  .profile-img .card-bg-trasparent p {
    font-size: 1.3rem;
  }
  .profile-details h2 {
    font-size: 2.1rem;
  }
  .profile-details input {
    font-size: 1rem;
    width: 280px;
    height: 40px;
    padding: 0 5px;
    margin: 2vh 0;
  }
  .description-title {
    font-size: 3rem;
  }
  .description-column .example-img {
    margin: 2rem 0;
  }
  .description-column .example-img img {
    width: 400px;
  }
  .contact-section {
    width: 90%;
    padding: 30px;
  }
  .contact-section .contact-title {
    font-size: 1.7rem;
    margin-bottom: 4vh;
  }
  .contact-section textarea {
    font-size: 1rem;
  }
  .contact-section input {
    width: 200px;
  }
  .contact-section .link-p {
    margin-top: 4vh;
    font-size: 1.3rem;
  }
  footer .footer-link {
    font-size: 1.3rem;
  }
}
@media (min-width: 601px) and (max-width: 768px) {
  .home-container {
    flex-direction: column;
    gap: 4vh;
  }
  .home-title {
    font-size: 2.5rem;
    margin-bottom: 3vh;
    margin-top: 3vh;
  }
  .home-description {
    font-size: 1.2rem;
    max-width: 80vw;
  }
  .game-page {
    flex-direction: column;
    padding: 1rem;
  }
  .game-window {
    margin: 1.5vh;
  }
  .left-navbar,
  .right-navbar {
    flex-direction: row;
    height: 100%;
    width: 100vw;
    gap: 0;
    justify-content: space-around;
    align-items: center;
  }
  .card-bg-trasparent {
    min-width: 70px;
  }
  .card-bg-trasparent .card-body {
    font-size: 1rem;
  }
  .logout-modal h2 {
    font-size: 1.5rem;
  }
  .logout-modal .logout-modal-buttons button {
    width: 70px;
    height: 45px;
  }
  .profile-img {
    padding-left: 0;
  }
  .profile-img .card-bg-trasparent img {
    width: 100px;
  }
  .profile-img .card-bg-trasparent p {
    font-size: 1.3rem;
  }
  .profile-details h2 {
    font-size: 2rem;
  }
  .profile-details input {
    font-size: 1rem;
    width: 280px;
    height: 40px;
    padding: 0 5px;
    margin: 2vh 0;
  }
  .rules-page {
    padding: 2rem;
    font-size: 0.8rem;
  }
  .description-title {
    font-size: 2.7rem;
    margin-bottom: 0;
  }
  .description-column dt {
    font-size: 1.1rem;
  }
  .description-column .example-img {
    margin: 1.8rem 0;
  }
  .description-column .example-img img {
    width: 400px;
  }
  .contact-section {
    width: 100%;
    padding: 20px;
  }
  .contact-section .contact-title {
    font-size: 1.5rem;
    margin-bottom: 3vh;
  }
  .contact-section textarea {
    font-size: 0.9rem;
  }
  .contact-section input {
    width: 180px;
    height: 50px;
  }
  .contact-section .link-p {
    margin-top: 3vh;
    font-size: 1.1rem;
  }
  footer .footer-link {
    font-size: 1.1rem;
  }
}
@media (min-width: 414px) and (max-width: 600px) {
  .home-container {
    flex-direction: column;
    gap: 4vh;
  }
  .home-title {
    font-size: 2.5rem;
    margin-bottom: 3vh;
    margin-top: 3vh;
  }
  .home-description {
    font-size: 1.2rem;
    max-width: 80vw;
  }
  .game-page {
    flex-direction: column;
    padding: 1rem;
  }
  .game-window {
    margin: 1.5vh;
  }
  .left-navbar,
  .right-navbar {
    flex-direction: row;
    height: 100%;
    width: 100vw;
    gap: 0;
    justify-content: space-around;
    align-items: center;
  }
  .card-bg-trasparent {
    min-width: 70px;
  }
  .card-bg-trasparent .card-body {
    font-size: 1rem;
  }
  .logout-modal {
    width: 300px;
  }
  .logout-modal h2 {
    font-size: 1.3rem;
  }
  .logout-modal .logout-modal-buttons button {
    width: 60px;
    height: 40px;
  }
  .page-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
  }
  .profile-img {
    padding-left: 0;
  }
  .profile-img .card-bg-trasparent img {
    width: 100px;
  }
  .profile-img .card-bg-trasparent p {
    font-size: 1.3rem;
  }
  .profile-details {
    align-items: center;
    justify-content: center;
    padding: 1rem;
    text-align: center;
    margin-top: 2rem;
  }
  .profile-details h2 {
    font-size: 2rem;
  }
  .profile-details input {
    font-size: 1rem;
    width: 280px;
    height: 40px;
    padding: 0 5px;
    margin: 2vh 0;
  }
  .rules-page {
    padding: 2rem;
    font-size: 0.7rem;
  }
  .description-title {
    font-size: 2.5rem;
    margin-bottom: 0;
  }
  .description-column dt {
    font-size: 1rem;
  }
  .description-column .example-img {
    margin: 1.5rem 0;
  }
  .description-column .example-img img {
    width: 350px;
  }
  .contact-section {
    width: 100%;
    padding: 15px;
  }
  .contact-section .contact-title {
    font-size: 1.2rem;
    margin-bottom: 3vh;
  }
  .contact-section textarea {
    font-size: 0.9rem;
  }
  .contact-section input {
    width: 170px;
    height: 50px;
  }
  .contact-section .link-p {
    margin-top: 3vh;
    font-size: 1rem;
  }
  footer .footer-link {
    font-size: 1rem;
  }
}
@media (max-width: 413px) {
  .home-container {
    flex-direction: column;
    gap: 3vh;
  }
  .home-title {
    font-size: 2.3rem;
    margin-bottom: 2.5vh;
    margin-top: 2.5vh;
  }
  .home-description {
    font-size: 1rem;
    max-width: 80vw;
  }
  .game-page {
    flex-direction: column;
    padding: 1rem;
  }
  .game-window {
    margin: 1.5vh;
  }
  .left-navbar,
  .right-navbar {
    flex-direction: row;
    height: 100%;
    width: 100vw;
    gap: 0;
    justify-content: space-around;
    align-items: center;
  }
  .card-bg-trasparent {
    min-width: 70px;
  }
  .card-bg-trasparent .card-body {
    font-size: 1rem;
  }
  .logout-modal {
    width: 250px;
  }
  .logout-modal h2 {
    font-size: 1.1rem;
  }
  .logout-modal .logout-modal-buttons button {
    width: 55px;
    height: 35px;
  }
  .page-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
  }
  .profile-img {
    padding-left: 0;
  }
  .profile-img .card-bg-trasparent img {
    width: 100px;
  }
  .profile-img .card-bg-trasparent p {
    font-size: 1.3rem;
  }
  .profile-details {
    align-items: center;
    justify-content: center;
    padding: 1rem;
    text-align: center;
    margin-top: 2rem;
  }
  .profile-details h2 {
    font-size: 1.5rem;
  }
  .profile-details input {
    font-size: 1rem;
    width: 280px;
    height: 40px;
    padding: 0 5px;
    margin: 2vh 0;
  }
  .rules-page {
    padding: 1.5rem;
    font-size: 0.7rem;
  }
  .description-title {
    font-size: 2rem;
    margin-bottom: 0;
  }
  .description-column dt {
    font-size: 1rem;
  }
  .description-column .example-img {
    margin: 1rem 0;
  }
  .description-column .example-img img {
    width: 300px;
  }
  .contact-section {
    width: 100%;
    padding: 15px;
  }
  .contact-section .contact-title {
    font-size: 1.2rem;
    margin-bottom: 3vh;
  }
  .contact-section textarea {
    font-size: 0.9rem;
  }
  .contact-section input {
    width: 170px;
    height: 50px;
  }
  .contact-section .link-p {
    margin-top: 3vh;
    font-size: 1rem;
  }
  footer .footer-link {
    font-size: 1rem;
  }
}