@import "./variables";

.assistance-page {
	font-family: $fonts;
	background-color: $primary;
	background-image: url("/assets/pattern-bianco.png");
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	position: relative;	
}

.contact-section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 75%;
	min-height: 80vh;
	padding: 50px;

	.contact-title {
		font-size: 2rem;
		color: $fifth;
		font-weight: 600;
		margin-bottom: 6vh;
	}

	a {
		color: $secondary;

		&:hover {
			color: $dark-secondary;
		}
	}

	textarea {
		font-size: 1.1rem;
		background-color: lightgrey;
		width: 80%;
		height: 46vh;
		color: $fifth;
		padding: 13px 15px;
		box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
		border: 2px solid $fifth;
		border-radius: 2px;
	}

	input {
		width: 20vw;
		margin-top: 2vh;
		padding: 0.75rem;
		background-color: $secondary;
		color: $forth;
		border: none;
		border-radius: 4px;
		font-size: 1.1rem;
		cursor: pointer;
		box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
		transition: transform 0.3s;

		&:hover {
			transform: scale(1.05);
		}

		&:active {
			background-color: $dark-secondary;
			transform: scale(0.97);
		}
	}

	.link-p {
		color: $fifth;
		margin-top: 6vh;
		font-size: 1.5rem;
		font-weight: 500;
	}
}
